@import '../consts';


.el-date-editor.el-range-editor.el-input__inner.el-date-editor--daterange {
    background-color: $block-background !important;
    border: 1px solid rgba(white, 0.12);

    .el-range-input {
        font-size: 14px;
        font-weight: normal;
        line-height: 24px;
        color: rgba(white, 0.4);
        border: none;
        background-color: $block-background !important;
    }
}