@import '../consts';

.el-form {
    &-item {
        &__label {
            text-transform: uppercase;
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            letter-spacing: 1px;
            color: $font-primary-color;
            opacity: 0.7;
            &::before {
                content: '' !important;
            }
        }
    }

    &-subtitle {
        > .el-form-item__content {
            font-size: 14px;
            text-align: center;
            color: #fff;
            opacity: 0.4;
            line-height: 21px;
            font-style: normal;
            font-weight: normal;
        }
    }
}