@import './consts';

.form {
    padding: 32px;
    &.with-bottom-action {
        padding-bottom: 15px;
    }

    &-title {
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        font-size: 24px;
        color: $font-primary-color;
    }

    &-centered-title {
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        font-size: 24px;
        color: $font-primary-color;
        display: flex;
        justify-content: center;
    }

    &-group {
        display: flex;
        flex-direction: column;
        margin: 30px 0;
    }

    &-label {
        text-transform: uppercase;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 14px;
        letter-spacing: 1px;
        color: $font-primary-color;
        opacity: 0.7;
    }

    &-value {
        width: 100%;
        display: flex;
        margin-top: 12px;
    }

    &-action {
        width: 100%;
        min-height: 56px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;

        &>button {
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            margin: 0;
            width: 100%;
            min-height: 56px;
            border: none;
            outline: none;
            font-size: 14px;
            background-color: $primary;
            color: $font-primary-color;
            text-transform: uppercase;
        }
    }
}